{:paths ["src" "resources" "target"]
 :deps {#_com.bhauman/figwheel-main #_{:mvn/version "0.2.12"}
        #_hodur/engine            #_{:mvn/version "0.1.8"}
        hodur/visualizer-schema {:mvn/version "0.1.1"}}}
                                        ;persistent-sorted-set/persistent-sorted-set {:mvn/version "0.1.2"}}}
